	header {
	height: 100px;
	background-color: blue;
	color: black;
}

.current-word {
	height: 100px;
	background-color: red;
	color: black;
}

.record {
	height: 100px;
	background-color: orange;
	color: black;
}

.record div.buttons {
	float: right;
	height: 100%;
	margin: 5% 0 5% 0;
}
.buttons button {
	height: 30%;
	width: 90px;
}

.guesses-left {
	height: 100px;
	background-color: green;
	color: black;
}

.used-characters {
	height: 100px;
	background-color: purple;
	color: white;
}