	header {
	height: 100px;
	background-color: blue;
	color: black;
}

.current-word {
	height: 100px;
	background-color: red;
	color: black;
}
.current-word h3 {
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.record {
	height: 100px;
	background-color: orange;
	color: black;
}

.record div.buttons {
	float: right;
	height: 100%;
	margin: auto 0;
}
.buttons button {
	height: 30%;
	width: 90px;
}
.buttons a {
	color:black;
}

.guesses-left {
	height: 100px;
	background-color: green;
	color: black;
	text-align: center;
	vertical-align: middle;
}

.used-characters {
	height: 100px;
	background-color: purple;
	color: white;
	text-align: center;
	vertical-align: middle;
}