	header {
	height: 50px;
	background-color: blue;
	color: black;
}

.current-word {
	height: 50px;
	background-color: red;
	color: black;
}

.record {
	height: 50px;
	background-color: orange;
	color: black;
}

.guesses-left {
	height: 50px;
	background-color: green;
	color: black;
}

.used-characters {
	height: 50px;
	background-color: purple;
	color: black;
}